<div id="<%= dom_id alert %>">
  <p>
    <strong>Symbol:</strong>
    <%= alert.symbol %>
  </p>

  <p>
    <strong>Threshold:</strong>
    <%= alert.threshold %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= alert.direction %>
  </p>

</div>
