<% content_for :title, "New alert" %>

<%= turbo_frame_tag Alert.new do %>
  <div style="border: 1px solid #ccc; padding 10px;">

    <h1>New alert</h1>

    <%= render "form", alert: @alert %>

    <br>

    <div>
      <%= link_to "Back to alerts", alerts_path %>
    </div>
  </div>
<% end %>
